 [Desktop Entry]
Type=Application
Name=KindWorks
GenericName=Kindworks
Icon=/usr/share/icons/hicolor/scalable/apps/org.gnome.Yelp.svg
TryExec=/home/user/kindworks/kw-startup
Exec=/home/user/kindworks/kw-startup
Terminal=false
MimeType=x-scheme-handler/kw;
Categories=utility
StartupWMClass=utility

